BOT_SYMBOL=BTCUSDT
BOT_INTERVAL=15m
BOT_EMA_SHORT=12
BOT_EMA_LONG=26
BOT_ENTRY_FRACTION=0.01
BOT_MAX_NOTIONAL_PER_OP=5.0
BOT_SPOT_TARGET=0.80
BOT_FUTURES_TARGET=0.20
BOT_TP_ROI=1.0
BOT_RECOVERY_MULTIPLIER=3.0
BOT_ORDER_SLICES=3
BOT_MAX_CONCURRENT_OPS=30
BOT_TRADING_SYMBOLS=DOGEUSDT,XRPUSDT,ADAUSDT,TRXUSDT,SOLUSDT,POLUSDT,LINKUSDT,AVAXUSDT,DOTUSDT,LTCUSDT,ATOMUSDT,NEARUSDT,ARBUSDT,OPUSDT,APTUSDT,SUIUSDT,INJUSDT,SEIUSDT,1000PEPEUSDT,WIFUSDT,1000BONKUSDT,1000FLOKIUSDT,1000SHIBUSDT,FILUSDT,ETCUSDT,AAVEUSDT,UNIUSDT,RUNEUSDT,ALGOUSDT,HBARUSDT
BOT_MARGIN_STRESS=0.60
BOT_MARGIN_RECOVERY=0.30
BOT_MIN_NOTIONAL=5.0
BOT_POLL_SECONDS=5
BOT_DRY_RUN=true
BOT_API_HOST=0.0.0.0
BOT_API_PORT=8080
BINANCE_API_KEY=
BINANCE_API_SECRET=
